<div class="container">
    <h1 class="text-white">Testimonials</h1>
    <div class="row py-3">
        <div class="col">
            {{#each data}}
                <p class="text-black-50">
                    {{summary}}
                </p>
                <span class="text-white">{{name}}</span><br />
                <a href="#">{{email}}</a>
            {{/each}}
        </div>

    </div>
</div>