<li class="nav-item">
    <a class="nav-link disabled ps-0" href="#"
        onclick="loadData('gallery', 'gallery-template', 'gallery'); disableLink(this);"
    >Show all</a>
</li>
{{#each data}}
    <li class="nav-item">
        <a class="nav-link" href="#"
            onclick="loadData('gallery/categories/{{id}}', 'gallery-template', 'gallery'); disableLink(this);"
        >{{name}}</a>
    </li>
{{/each}}